.cv-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 0 10px;
    margin-bottom: 1em;
}

.time p, .aspect p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0.5rem;
}

.cv-title p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.time p {
    float: right;
}

p {
    color: #404040;
}

.cv-title {
    grid-column: 1 / span 2;
}

.cv-mark {
    font-weight: bold;
}

.description {
    font-style: italic;
}

.cv-list {
    margin: 0;
}

li {
    color: #404040;
}